<% provide(:title, "Home") %>
<h1>Popular Titles</h1>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Pink Floyd - Dark Side of the Moon</div>
        <div class="panel-body"><%= image_tag("dark.jpg", alt:"Image")%></div>
        <div class="panel-footer">€19.99</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Fleetwood Mac - Rumours</div>
        <div class="panel-body"><%= image_tag("rumours.jpg", alt:"Image")%></div>
        <div class="panel-footer">€21.99</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Neil Young - Harvest</div>
        <div class="panel-body"><%= image_tag("harvest.jpg", alt:"Image")%></div>
        <div class="panel-footer">€24.99</div>
      </div>
    </div>
  </div>
  
  </div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Led Zeppelin - I</div>
        <div class="panel-body"><%= image_tag("led.png", alt:"Image")%></div>
        <div class="panel-footer">€19.99</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">The Strokes - Is This It</div>
        <div class="panel-body"><%= image_tag("isthisit.jpg", alt:"Image")%></div>
        <div class="panel-footer">€19.99</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Bob Dylan - Blonde on Blonde</div>
        <div class="panel-body"><%= image_tag("blonde.jpg", alt:"Image")%></div>
        <div class="panel-footer">€19.99</div>
      </div>
    </div>
  </div>
</div><br><br>